.chartRow {
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
}

.controlsRow {
    border: 1px solid black;
    margin-bottom: 10px;
}

.daysCol {
    margin: 15px;
}

.sliderCol {
    background-color: white;
    padding: 20px;
    padding-left: 40px;
    padding-bottom: 30px;
}

.dateRow {
    border: 1px solid black;
    margin-bottom: 10px;
}

.unitInfoRow {
    border: 1px solid black;
    margin-bottom: 100px;
}

.unitInfoTable {
    border-collapse: collapse;
    width: 300px;
    background-color: white;
    padding: 20px;
}

.unitInfoRow tr {
    border: 1px solid black;
}

.unitInfoLabel {
    font-weight: bold;
}

.lastUpdate {
    text-align: center;
}
