.primeCell {
    color: blue;
}

.periodCell {
    color: green;
}

.ratioCell {
    color: purple;
    border-right: 2px solid #999;
    padding-right: 8px;
}

.groupHeader {
    font-weight: bold;
    background-color: rgb(214, 238, 238);
    padding: 8px;
}

.groupSeparator {
    border-right: 2px solid #999;
}

.primesTable {
    margin-top: 20px;
    margin-bottom: 20px;
}
